body{
    background-image: url("https://imgs.search.brave.com/mYHrScRPZbDzTzG_Jf_QI3PNNz8WkpkZ6s9BWJ3XBFU/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93d3cu/aW1hZ3VpLmNvbS9p/L2ZvbmRvLWRpYXBv/c2l0aXZhcy1henVs/LWltYWd1aS02MzAx/Mjkud2VicA");
    background-repeat: no-repeat;
    background-size: cover;
}
.macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}
